- var property_inner = (t_property || property)
if property_inner.name
  if t_property
    //数组的编辑框比较窄
    label=property_inner.name + ':'
  else
    label.col-md-2.control-label=property_inner.name + ':'
else
  label=""

include crud_input.jade
